p {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.bold {
    font-weight: bold;
}

.largertext {
    font-size: 24px;
}
 
.taller {
    line-height: 50px;
}